.App {
  text-align: center;
  background-image: url(/src/img/background.png);
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  width: 100%; 
  height: 100vh; 

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #c5cddc; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* border: solid black 2px; */
  position: absolute;
  top: 0;
  width: 100%;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: transparent; /* Light background color for contrast */
}

.header-logo img {
  width: 104.28px;height: 78.1px;top: 14px;left: 25px;padding: 7px 0px 0px 0px;gap: 0px;opacity: 0px;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px; /* Adjust spacing between logo and title */
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: medium;
}

td, th {
  text-align: left;
  padding: 2px;
}
.Card-header{
    width: 70%;
}

.fade-enter {
  opacity: 0;
  transform: translateY(20px); /* Start with a slight upward movement */
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
}
/* 
@media screen {
  .Card-header{
    width: auto;
  }
  
} */